<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>{{.Body}}</h1>
    
    <button onclick="window.location.href='/checkCert'" class="button1">Certificate check page</button>
    <button onclick="window.location.href='/createCaCert'" class="button1">Create CA certificate</button>
    <button onclick="window.location.href='/createServerCert'" class="button1">Create server certificate</button>
    
</body>
</html>
